/*.kol:active {
	border: 10px solid black;
	background-color: rgb(255, 255, 255);/
}*/

#img {
	margin: 5px;
	border: solid;
	width: 200px
}

#h2 {
	margin: 5px;
	border: solid;
	width: 350px;
	display: inline-block;
}