#start {
	margin-top: 50%;
}

body {
	background-image: url('img/groepfoto.png');
	margin-top: 150PX;
	margin-bottom: 150PX;
	margin-left: 10PX;
	margin-right: 10PX;
}

.afb {
	margin: 5px;
	border: solid;
	display: inline-grid;
	width: 170px
}

#h2 {
	background-color: white;
	color: red;
	margin: 5px;
	border: solid;
	border-color: black;
	width: 350px;
	display: inline-grid;
}

#image-container {
	margin-bottom: 100px;
}