#start {
	margin-top: 50%;
}

body {
	background-image: url('img/groepfoto.png');
}

#img {
	margin: 5px;
	border: solid;
	width: 200px
}

#h2 {
	background-color: white;
	color: red;
	margin: 5px;
	border: solid;
	border-color: black;
	width: 350px;
	display: inline-block;
}

